<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/src/public/styles/media.css">
  <title>Picrypt| Media Download</title>
</head>
<!----header section start------>
<header>
  <h2>Picrypt</h2>
  <nav>
    <ul>
      <li><a href="#"><i class="fa fa-github"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-bars"></i></a></li>
    </ul>
  </nav>
</header>
<!----header section end------>
<!----main section start------>
<main>
  <h3>Media download </h3>
  <section class="holder">
    <div class="preview">
      <img hidden class="image" src="./assets/12065_2021_683_Fig1_HTML.png" alt="source">
      <canvas hidden class="canvas"></canvas>
    </div>
    <div class="details">
      <ul>
        <li>image size : </li>
        <li>extension :</li>
        <li>capacity :</li>
        <li>dimension :</li>
      </ul>
    </div>

    <br>
    <br>
    <button class="btn"><i aria-hidden="true" class="fa fa-download"></i> <span style="margin-left:10px">download</span></button>
  </section>
</main>
<!----main section end------>
<!----footer section start------>
<footer>
  <section class="info">
    <h3>More information</h3>
    <ul>
      <li><a href="#"><i class="fa fa-life-ring"><span style="margin-left: 5px">Tech support</span></i></a></li>
      <li><a href="#"><i class="fa fa-info-circle"><span style="margin-left: 5px">About</span></i></a></li>
      <li><a href="#"><span style="margin-left: 20px">Terms</span></a></li>
      <!--
        <li><a href="#">About</a></li>
        <li><a href="#">Terms</a></li>
        <li><a href="#">Tech support</a></li> -->
    </ul>
  </section>
  <section class="social">
    <h3>Our Handles</h3>
    <ul>

      <li><a href="#"><i class="fa fa-github"><span style="margin-left: 5px">Github</span></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"><span style="margin-left: 5px">X(Twitter)</span></i></a></li>
      <li><a href="#"><i class="fa fa-google"><span style="margin-left: 5px">Gmail</span></i></a></li>
    </ul>
  </section>

</footer>
<copyright>
  <span>&copy <script>
      document.write(new Date().getFullYear())
    </script> Picrypt</span>
  <br>
  <span>site designed by <a style="color:white" href="#">Anoncomrade993</a></span>
</copyright>
<!----footer section end------>

<body>

</body>

</html>